@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#top {
  padding-top: 100px;
}

#top-page-img {
  width: 100%;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #333333;
  color: white;
  height: 150px;
}
#food {
  width: 100%;
}

#food > h3 {
  width: 50vw;
  margin: 0 5vw 25px auto;
  text-align: center;
}

#food-list > table {
  width: 35%;
  margin-right: 5%;
  margin-left: 10%;
}

#food-image {
  height: 45vh;
  width: 40%;
  text-align: center;
}

#food-image > img {
  height: 100%;
  border-radius: 50%;
}
